.rz-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.rz-modal {
  background: #fff;
  padding: 25px;
  width: 360px;
  border-radius: 8px;
  text-align: center;
}
